<h2 mat-dialog-title>{{ 'devices.keyTitle' | t }}</h2>

<mat-dialog-content>
  <p>{{ 'devices.keyFor' | t: { hostname: data.hostname, id: data.deviceId } }}</p>

  <p class="warning">
    <mat-icon aria-hidden="true">warning</mat-icon>
    {{ 'devices.keyWarning' | t }} <code class="mono">X-Node-Api-Key</code>.
  </p>

  <div class="key-row">
    <code class="api-key mono">{{ data.apiKey }}</code>
    <button
      matIconButton
      [cdkCopyToClipboard]="data.apiKey"
      (cdkCopyToClipboardCopied)="onCopied($event)"
      [attr.aria-label]="'action.copy' | t"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton="filled" mat-dialog-close>{{ 'action.understood' | t }}</button>
</mat-dialog-actions>
